<section class="extended subhero home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <div class="lead">
          <%= decidim_sanitize translated_attribute(current_organization.description) %>
      </div>
      <% unless current_user %>
        <%= link_to decidim.new_user_registration_path, class: "button large hollow button--sc", title: t("decidim.pages.home.sub_hero.register_title") do %>
          <%= t("decidim.pages.home.sub_hero.register") %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
