<div class="row">
  <div class="columns">
    <% if highlighted? || voted? %>
      <div class="section">
        <%= render :highlighted %>
      </div>
    <% end %>

    <% if turku_voting? && voting_open? %>
      <%= render :turku_list %>
    <% else %>
      <%= render :card_list %>
    <% end %>
  </div>
</div>
