@import "turku-variables";

// Variables
$primary: $turku-rubine-red;
$primary-rgb: $turku-rubine-red-rgb;
$secondary: $turku-green;
$secondary-rgb: $turku-green-rgb;
$success: $turku-green;
$success-rgb: $turku-green-rgb;
$warning: $turku-orange;
$warning-rgb: $turku-orange-rgb;
$alert: $turku-red;
$alert-rgb: $turku-red-rgb;
$highlight: $turku-highlight;
$highlight-rgb: $turku-highlight-rgb;
$highlight-alternative: $turku-highlight-alternative;
$highlight-alternative-rgb: $turku-highlight-alternative-rgb;

// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #4285f4;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
